/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #464D77;
  text-align:center;
}

h2 {
  margin-top: 2em; 
  color:#36827F;
}

button {
 display: grid;
  margin:auto;
  align-items: center;
  justify-content: center;
  width:150px;
  background-color:#58B19F;
  font-style:bold;
}


.question {
  display: flex;
  margin-top: 2em;
}
  
.answer-choice img {
  height: 10em;
}
.question {
  justify-content:space-around;
}
.results{
  background-color: #D8E2DC;
  height: 30em;
}

#result{
  color:#3B3B98;
}
